h1{
    color: #0c0b21;
    margin-left: 525px;
}

h2{
    color: #2B374B
}

body{
    background-color: #BEC7C4;
}

.headerStyle{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.linkies a{
    margin-left: 40px;
}

.inside{
    background-color: #a89d9e;
}

.gamesksks{
    background-color: #7d7072;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gamie{
    position: relative;
}

.gamie p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.gamie:hover p{
    opacity: 1;
}

.gamie:hover img{
    opacity: 0.33333333;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
p{
    text-align: center;
}

a:link{
    color: #C2C4B7;
}

a:visited{
    color: #0b0759;
}